
<div class="header">  
  <div class="title" *ngIf="subtitle; then subtitleBlock else mainBlock">
  </div>
  <ng-template #mainBlock>
    <div class="title-section">
      <a class="title-main" href="/">Digital Street</a>
    </div>
  </ng-template>
  <ng-template #subtitleBlock>
    <div class="title-sub-section">
      <a class="title-sub" href="/">Digital Street
      <br>
      <p class="subtitle">{{subtitle}}</p></a>
    </div>
  </ng-template>
  <div class="logo">
    <img src="/assets/hmlr_logo.png" width="175" alt="HM Land Registry Logo">
  </div>
</div>
