
<div class="container">
    <div class="row">
        <!-- <div class="col-sm-1"></div> -->
 <!-- <div class="NB"><div class="col-sm-1"></div> -->
        <div class="col-md-12">
        <div class="arrow-steps clearfix">
                  <div *ngIf="preext" class="step current"> <span>Contract Created</span> </div>
                  <div *ngIf="preexf" class="step"> <span>Contract Created</span> </div>
                  <div *ngIf="excht" class="step current"> <span>Seller's Contract Signed</span> </div>
                  <div *ngIf="exchf" class="step"> <span>Seller's Contract Signed</span> </div>
                  <div *ngIf="compt" class="step current"> <span>Buyer's Contract Signed</span> </div>
                  <div *ngIf="compf" class="step"> <span>Buyer's Contract Signed</span> </div>
                  <div *ngIf="bmit" class="step current"> <span>Deposit Paid</span> </div>
                  <div *ngIf="bmif" class="step"> <span>Deposit Paid</span> </div>
                  <div *ngIf="rut" class="step current"> <span>Completion</span> </div>
                  <div *ngIf="ruf" class="step"> <span>Completion</span> </div>
              </div><br>
              
        
        <!-- </div> -->
  </div>
    </div>
<div class="row">
    <div class="col-sm-3"><a href='{{prop}}'><img class="prop" src="\assets\home4.png"><br>{{address.firstLine}} <br>{{address.city}}</a></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4"><a href='{{cont}}'><img class="seller" src="\assets\DEBBIE.png"></a>
    <p>Seller-{{sfirstname}} {{slastname}}</p>
  </div>
  <div class="col-sm-4"><a href='{{conf}}'><img class="seller" src="\assets\EMMA.png"></a>
    <p>Buyer-{{bfirstname}} {{blastname}}</p>
  </div>
</div>

  <div class="PBV"><span style="cursor:pointer;color:#0c74b5" (click)="opennewtab()">Popup Blockchain Viewer</span></div>
  <!-- <button type="submit" class="btn btn-primary" (click)='reset()' >Reset</button> -->
  <!-- <div class="PBV"> <button id="popup"  (click)="div_show()">Popup Blockchain Viewer</button>
    <span id="abc" style="overflow:hidden;">

            <form class="form" > -->
            <!-- <table id="customers" [mfData]="responsedata" #mf="mfDataTable" class="maintable" [mfRowsOnPage]="10">
                <thead>
                <tr>
                 <th>Transaction</th>   
                <th>Transaction Id</th>  
                <th>Transaction Type</th>
                <th>Transaction Invoked</th>
                <th>Events Emitted</th>
                <th><mfDefaultSorter by="transactionTimestamp">Transaction Timestamp</mfDefaultSorter></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let rd of mf.data">
                     <td>{{rd.transaction}}</td>      
                     <td>{{rd.transactionId}}</td>
                     <td>{{rd.transactionType}}</td>
                     <td>{{rd.transactionInvoked}}</td>
                     <td>{{rd.transactionTimestamp}}</td>
                </tr>
                </tbody>
                <tfoot>
                     
                      <td colspan="10" style="text-align: right;">
                         <mfBootstrapPaginator></mfBootstrapPaginator>
                     </td>
                </tfoot>
            </table>
           <!-- </form> -->
          <!-- </span>
  </div> --> 



</div>
