
  <header subtitle="Property exchange assistant" style="background-color: white"></header>


  <form class="form">
   
   <table id="customers" [mfData]="responsedata" #mf="mfDataTable" class="maintable" [mfRowsOnPage]="10" style="margin-top: -50px;">
       <thead>
       <tr>
       <th>Transaction</th>    
       <th><mfDefaultSorter by="transactionTimestamp">Transaction Timestamp</mfDefaultSorter></th>
       <th>Transaction Id</th>  
       <th>Transaction Type</th>
       <th>Transaction Invoked</th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor="let rd of mf.data; let i = index">
            <td>{{calltrans(rd.transactionType)}}</td> 
            <td>{{rd.transactionTimestamp | date : "EEEE dd MMMM, y h:mm:ss"}}</td>
            <td>{{rd.transactionId}}</td>
            <td>{{rd.transactionType}}</td>
            <td>{{rd.transactionInvoked}}</td>
       </tr>
       </tbody>
       <tfoot>
            <td colspan="10" style="text-align: right;">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
       </tfoot>
   </table>
  </form>
  