table, th, td {
  border: 1px solid black;
}

td {
  word-break: break-word;
}

.right{
  float: left;
}
.left{
  float: left;
}
.form{
  /* padding-left: 500px; */
  width:100%;
  color: black;
  
}
.transactions{
  padding-left: 80px;
  padding-right: 80px;
}
.border{
  background-color: white;
  border: 1px solid black;
  padding-left:10px;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0C1D3B;
  color: white;
}