 
  
<div class="container">
<!-- <div style="background: url(assets/JM-bg.PNG);background-repeat:no-repeat;background-size: cover; height:500px"> -->
    <!-- <div [style.background-image]={{backgroundImg}}> -->
      <!-- <img src="\assets\JM-bg.PNG"> -->
      <!-- <div class="image" [ngStyle]="{'background-image':'url(' + object.link + ')'}"> -->
<div class="row">
<div class="col-sm-1"></div>
<!-- <div class="col-sm-2"><a href='http://hmlr-ds-paul-property-advisor-ui.eu-gb.mybluemix.net' ><img class="prop" src="\assets\Property-Assistant.png"><br>Property Assistant</a></div> -->
<div class="col-sm-2">
    <img class="prop" src="\assets\Property-Assistant.png">
    <br><span style="cursor:pointer;color:#0c74b5" (click)="opennewtab()">Property Assistant</span>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-2"><a href='/#/LandingIM'><img class="seller" src="\assets\Instant-Mortgage_ICON.png">Instant Mortgage</a></div>
<div class="col-sm-2"></div>
<div class="col-sm-2"><a href='/#/Landing'><img class="seller" src="\assets\Property-Exchange-Assistant.png">Property Exchange Assistant</a></div>
</div><br>
<br><br>
<button type="submit" class="btn btn-primary" (click)='reset()' >Reset</button>
<!-- </div> -->
<!-- </img> -->
<!-- </div> -->
</div>