<header style="background-color: white"></header>

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="#" (click)="opennewtab()" ><img width="250" class="prop" src="\assets\property assistant.png"></a>
            <br>
            <br>
            <strong>Property advisor</strong>
        </div>
        <div class="col-md-4 text-center">
            <a href='/#/LandingIM'><img width="250" class="seller" src="\assets\instant mortgage.png"></a>
            <br>
            <br>
            <strong>Instant mortgage</strong>
        </div>
        <div class="col-md-4 text-center">
            <a href='/#/Landing'><img width="250" class="seller" src="\assets\property exchange ass.png"></a>
            <br>
            <br>
            <strong>Property exchange assistant</strong>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <br>
            <br>
            <br>
            <br>
            <button type="submit" class="btn btn-default" (click)='reset()'>Reset</button>
        </div>
    </div>
</div>