<div class="row">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <p><a href="#">
            <img class="prop" src="\assets\Property-Assistant.png"><br><br> Property advisor
          </a></p>
        </div>
        <div class="col-md-4 text-center">
            <p><a href='/#/LandingIM'>
            <img class="seller" src="\assets\Instant-Mortgage_ICON.png"><br><br> Instant mortgage
          </a></p>
        </div>
        <div class="col-md-4 text-center">
            <p><a href='/#/Landing'>
            <img class="seller" src="\assets\Property-Exchange-Assistant.png"><br><br> Property exchange assistant
          </a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <button type="submit" class="btn btn-default pull-right" (click)='reset()'>Reset</button>
</div>
