.container {
    background-color:whitesmoke;
    width: 83%;
    left: 150px;
    /* height: 90%; */
    padding-top: 50px;
    color: #0C1D3B;
}
.row{
   background-color: whitesmoke;
    padding-top: 20px;
    height:70%
  }
  .btn{
    float:right;
  }
  .Supplier_lbl{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color:white;
    background-color: #003243;
    margin-bottom: 2%;

} 